.gpt3__possibility {
  display: flex;
}

.gpt3__possibility-image {
   flex: 1;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-right: 2rem;

}

.gpt3__possibility-image img {
  height: 100%;
  width: 100%;
}

.gpt3__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 20px;
}
.gpt3__possibility h4 {
  font-family: var(--font-family);
  line-height: 30px;
  color: #71e5ff;
}


.gpt3__possibility h4:last-child {
  color: #ff8a71;
}


.gpt3__possibility h1 {
  font-family: var(--font-family);
  font-size: 38px;
  font-weight: 800;
  line-height: 40px;

}
.gpt3__possibility p {
  font-family: var(--font-family);
  color: var(--color-text);
  margin-bottom: 2rem;
}


@media screen and (max-width:1000px) {
   .gpt3__possibility {
    flex-direction: column;
    gap: 20px;
   }
 
  }

